# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
claude.md 
GROK.md
/.GROK
/.claude


# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

.vercel

# Local ENV files
list-models.js
test-gemini.js